* {
  max-width: 700px;
  margin: auto;
}



div {
  border-radius: 5px;
}

#upBar {
  height: 40px;
  width: 100%;
  background-color: #00cc99;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

#downBar {
  height: 50px;
  width: 100%;
  background-color: #00cc99;
  clear: both;
  position: relative;
}

.leftBar {
  height: 1000px;
  width: 45px;
  background-color: #993366;
  float: left;
  position: inherit;
}

.rightBar {
  height: 1000px;
  width: 45px;
  background-color: #993366;
  float: right;
  position: inherit;
}


.contents {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}



p,
li {
  font-family: 'Cormorant Garamond';
}

.head {
  font-size: 20px;
}

#nameFooter {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}